@color:red;

.container{
    display: flex;
    .nav-left{
        color:#fff;
        width: 15%;
        min-width: 180px;
        height:calc(100vh);
        // background: @color;
    }
    .main{
        flex:1;
        height:calc(100vh);
    }
    .content{
        position: relative;
        padding: 20px;
    }
}